.elements__delete-button {
  background-image: url("../../../images/delete-button.svg");
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  
  cursor: pointer;
  transition: opacity 0.4s ease;
  padding: 0;
}

.elements__delete-button:hover {
  opacity: 0.5;
}
