.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  border: 1px solid #ffffff;
  background-origin: content-box;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding: 7px 7px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  align-self: flex-end;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    align-self: flex-end;
    width: 18px;
    height: 18px;
    padding: 5.25px 5.25px;
  }
}
