.profile__add-button {
  padding: 0;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  align-self: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.profile__add-button:hover {
  opacity: 0.5;
}


@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
  }
}
