.elements__like {
  width: 25px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  transition: opacity .5s ease;
  cursor: pointer;
  align-self: center;
}

.elements__like:hover {
    opacity: .5;
  }
