.popup__close-button {
  background-image: url(../../../images/close-button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
  border: none;
}
