.popup__field {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  padding: 0 0 13px 0;
}

.popup__field:first-child {
  margin: 0 auto;
}
/* Last child по какой-то причине не работает */
.popup__field:nth-child(2) {
  margin: 30px auto 0;
}

@media screen and (max-width: 767px) {
  .popup__field {
    width: 238px;
  }
}
