.popup__field {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
  width: 358px;
}

@media screen and (max-width: 767px) {
  .popup__field {
    width: 238px;
  }
}